html {
    background: lightgray; 
}

.Exam {
    width: 50%;
    min-height: 90vh;
    margin: auto;
    padding: 10px;
    padding-top: 5px;
    background: white;
    border: 1px solid;
    border-color: black;
    display: flex;
    flex-direction: column;
}

.imageDisplay {
    width: 80px;
    height: auto;
    resize: both;
    overflow: auto;
}

.wrap {
    word-wrap: break-word;
}

.Delete {
    float: right;
}