html {
    background: lightgray; 
}

.Exam {
    width: 50%;
    height: 80vh;
    margin: auto;
    padding: 10px;
    background: white;
}

.imageDisplay {
    width: 80px;
    height: auto;
    resize: both;
    overflow: auto;
}

.wrap {
    word-wrap: break-word;
}

.deleteButton {
    float: right;
}