html {
    background: lightgray; 
}

.Exam {
    width: 50%;
    min-height: 90vh;
    margin: auto;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5%;
    background: white;
    border: 1px solid;
    border-color: black;
}

.imageDisplay {
    width: 80px;
    height: auto;
    resize: both;
    overflow: auto;
}

.wrap {
    word-wrap: break-word;
}

.Delete {
    float: right;
}

.flexComponent {
    display: flex;
    flex-direction: column;
}

.printButton {
    position: fixed;
    bottom: 1%;
    left: 25%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.material-symbols-outlined {
    font-size: 50px;
}