@media print {
    .Exam {
        height: 100vh;
        width: 100vw;
        border: none;
    }

    .header {
        display: none;
    }

    button, input {
        display: none;
    }

    .imageDisplay {
        resize: none;
        overflow: hidden;
    }

    .dropdown > *, .Delete > *, .iconBtn {
        display: none;
    }

    .newProblem {
        display: none;
    }

    @page {
        size: auto;
        margin-top: 0;
        margin-bottom: 0;
    }
}