@media print {
    .Exam {
        height: 100vh;
        width: 100vw;
    }

    .header {
        display: none;
    }

    button {
        display: none;
    }

    .imageDisplay {
        resize: none;
        overflow: hidden;
    }
}